.header {
    font-size: 16px;
}

.center {
    color: #616161;
    font-size: 10px;
    text-align: center;
}

.center legend {
    font-size: 18px;
    text-align: left;
}

.notification {
    color: #1b5e20;
    font-weight: bold;
}

.error {
    color: #c62828;
    font-weight: bold;
}

/* Responsive */
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 768px) {
}
